.cards__container {
  margin: 0 auto;
  max-width: calc(100% - 200px * 2);
}

@media screen and (max-width: 1024px) {
  .cards__container {
    max-width: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 768px) {
  .cards__container {
    max-width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 512px) {
  .cards__container {
    max-width: calc(100% - 19px * 2);
  }
}
