.header {
  max-width: calc(100% - 200px*2);
  min-height: 74px;
  margin: 45px auto 0;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}
