.popup__close-button {
  background-image: url(../../../images/Close\ Icon.svg);
  background-color: black;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}